body{
	font-family: "Comic Sans MS", fantasy;
	color: #f2f2f2;
}
h1{
	font-size: 3em;
	font : 'Zapf-Chancery', cursive;
	color: #FFFFFF;
	font-weight: bold
}

h3, h4, h5, h6, h7, h8, h9, h10, h11, h12, h13, h14, h15, h16, h17, h18{
	font-size: 1em;
	text-align: center;
	color: #FFFFFF;
}

body {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h2{
	font: fantasy;
	color:#C3F6FD ;
	font-size: 2em;
	font-weight: normal;
	font-family: 'Zapf-Chancery', cursive;
}

th {
	text-align: center;
	color: #ffffff;
	background-image: "images/website_background.jpg";
}

html {
	background-image: "images/website_background.jpg";
}

