body{
	font-family: "Comic Sans MS", fantasy;
	color: #f2f2f2;
}

h1,h2,h3,h4 {
	font-size: 2em;
	text-align: center;
	color: #F9B2ED;
}

body {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h2 {
	font: fantasy;
	color:#C3F6FD ;
	font-size: 4em;
	font-weight: bold;
	font-family: 'Zapf-Chancery', cursive;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
html {
	background-image: url("images/floral.jpg");
 	opacity: 0.5;

}

