body{
	font-family: "Comic Sans MS", fantasy;
	color: #C3F6FD;
	font-size: 2em;
}
h1{
	font-size: 3em;
	font-family: "Zian", "Andale Mono", cursive, Sans-serif;
	color: #FFFFFF;
	font-weight: bold
}

h3, h4{
	font-size: 1em;
	font: fantasy;
	margin-left: inherit;
	margin-left: inherit;
	color: #FFFFFF;
}

p{
	font-size: 1em;
	font: sans-serif;
	text-align: center;
	color: #FFFFFF;
}

body {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h2{
	font: fantasy;
	color:#C3F6FD ;
	font-size: 2em;
	font-weight: normal;
	font-family: 'Zapf-Chancery', cursive;
}

th {
	text-align: center;
	color: #FFFFFF;
}

html { 
	background-image: url("large.jpg");

}

p1, p2 {
	font-size: 3em;
	font-family: 'Zaph-Chancery', arial;
}